################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/factory/msvc
/data/msvc
/metric/msvc
/stochastic/msvc
/model/msvc
/approx/msvc
/drawing/msvc
/signal/msvc
/log/msvc
/solver/msvc
/matlab/msvc
/tpsolvers/msvc
/controllers/msvc
