################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/factory/msvc
/data/msvc
/metric/msvc
/stochastic/msvc
/models/msvc
/approx/msvc
/consume/msvc
/drawing/msvc
/signal/msvc
/log/msvc
